Datastructure/Home_1_2DArray/Home_1_2DArray/.vs/
Datastructure/Home_1_2DArray/.vs/
Datastructure/Home_1_2DArray/Home_1_2DArray/x64/
Datastructure/Home_1_2DArray/x64/
Datastructure/Home_2_Stack/.vs/
Datastructure/Home_2_Stack/Debug/
Datastructure/Home_2_Stack/Home_2_Stack/Debug/
Datastructure/Home_3_Queue_by_Circular_Linked_List/Home_3/.vs/
Datastructure/Home_3_Queue_by_Circular_Linked_List/Home_3/Debug/
Datastructure/Home_3_Queue_by_Circular_Linked_List/Home_3/Home_3/Debug/
Datastructure/Home_4_Tree_n_Heap/Home_4/.vs/
Datastructure/Home_4_Tree_n_Heap/Home_4/Debug/
Datastructure/Home_4_Tree_n_Heap/Home_4/Home_4/Debug/Home_4.log
Datastructure/Home_4_Tree_n_Heap/Home_4/Home_4/Debug/
opencv_Homework/.vs/
opencv_Homework/opencv_Homework/x64/
opencv_Homework/x64/
/openCV_Numberplate/.vs/openCV_Numberplate/v15
/openCV_Numberplate/openCV_Numberplate/x64/Debug
